<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Django App{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="{% url 'home' %}">My Django App</a></h1>
        <nav>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'list_contacts' %}">Contacts</a></li>
            <!-- Add more navigation items here -->
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      {% block content %}
      <!-- Content will go here -->
      {% endblock %}
    </div>

    <footer>
      <div class="container">
        <p>&copy; 2023 My Django App</p>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
